@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic);
/* line 6, ../sass/_color.scss */
body *,
body :visited,
body :link {
  color: #fff;
}
/* line 11, ../sass/_color.scss */
body .active,
body a:active,
body a:hover,
body .swiper-pagination-bullet-active {
  color: #fff;
}
/* line 16, ../sass/_color.scss */
body .active::after,
body a:active::after,
body a:hover::after,
body .swiper-pagination-bullet-active::after {
  border-color: #f51212;
}
/* line 20, ../sass/_color.scss */
body #dev_skill,
body #dev_port {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 26, ../sass/_color.scss */
body #dis_skill .top h4 {
  border-left-color: rgba(225, 225, 225, 0.15);
}
/* line 32, ../sass/_color.scss */
body .swiper-slide#main h1 > span#first_letter {
  color: #f51212;
}
/* line 38, ../sass/_color.scss */
body .swiper-container-v .swiper-pagination-bullet,
body .swiper-container-v1 .swiper-pagination-bullet {
  background-color: #fff;
}
/* line 40, ../sass/_color.scss */
body .swiper-container-v .swiper-pagination-bullet-active,
body .swiper-container-v1 .swiper-pagination-bullet-active {
  background-color: #f51212;
}

/* line 1, ../sass/_icons.scss */
.icon_box {
  position: relative;
}
/* line 3, ../sass/_icons.scss */
.icon_box .icons {
  display: block;
  background: url("../img/icons.png");
  position: relative;
  width: 100px;
  /*icon1*/
  height: 50px;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  padding: 0;
  margin-bottom: 8%;
}
/* line 14, ../sass/_icons.scss */
.icon_box .icons.icons_small {
  /*╨╝╨░╨╗╤Л╨╡ ╨╕╨║╨╛╨╜╨║╨╕*/
  margin-left: -25px;
  width: 50px;
}
/* line 19, ../sass/_icons.scss */
.icon_box .icons.icon_2 {
  background-position: -50px 0;
}
/* line 22, ../sass/_icons.scss */
.icon_box .icons.icon_3 {
  background-position: -100px 0;
}
/* line 25, ../sass/_icons.scss */
.icon_box .icons.csshtml {
  background-position: -150px 0;
}
/* line 28, ../sass/_icons.scss */
.icon_box .icons.bootstrap {
  background-position: -250px 0;
}
/* line 31, ../sass/_icons.scss */
.icon_box .icons.wordpress {
  background-position: -300px 0;
}
/* line 34, ../sass/_icons.scss */
.icon_box .icons.php {
  background-position: -350px 0;
}
/* line 37, ../sass/_icons.scss */
.icon_box .icons.gitgithub {
  background-position: -450px 0;
}
/* line 40, ../sass/_icons.scss */
.icon_box .icons.sass {
  background-position: -500px 0;
}
/* line 43, ../sass/_icons.scss */
.icon_box .icons.jsc {
  background-position: -600px 0;
}
/* line 46, ../sass/_icons.scss */
.icon_box .icons.empty {
  background-position: -650px 0;
}

/* line 8, ../sass/mystyle.scss */
html {
  position: relative;
  height: 100%;
}
/* line 11, ../sass/mystyle.scss */
html body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}
/* line 20, ../sass/mystyle.scss */
html body h1,
html body h2,
html body h3 {
  font-size: 67.2pt;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4;
}
/* line 28, ../sass/mystyle.scss */
html body h2 {
  font-size: 18.72pt;
}
/* line 31, ../sass/mystyle.scss */
html body h3 {
  font-size: 12.72pt;
}
/* line 34, ../sass/mystyle.scss */
html body .empty_box {
  visibility: hidden;
}
/* line 38, ../sass/mystyle.scss */
html body .swiper-container {
  width: 100%;
  height: 100%;
}
/* line 41, ../sass/mystyle.scss */
html body .swiper-container .swiper-pagination-h {
  top: 5%;
  bottom: 90%;
}
/* line 44, ../sass/mystyle.scss */
html body .swiper-container .swiper-pagination-h .swiper-pagination-bullet {
  font-size: 14.52pt;
  font-weight: normal;
  width: auto;
  height: auto;
  padding: 0 3%;
  background-color: transparent;
  border-radius: 0;
  transition: all 1s ease 0s;
  opacity: 0.4;
  position: relative;
}
/* line 56, ../sass/mystyle.scss */
html body .swiper-container .swiper-pagination-h .swiper-pagination-bullet-active {
  opacity: 1;
  font-weight: 500;
}
/* line 59, ../sass/mystyle.scss */
html body .swiper-container .swiper-pagination-h .swiper-pagination-bullet-active::after {
  content: '';
  display: inherit;
  position: absolute;
  bottom: -5%;
  left: 35%;
  width: 30%;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
}
/* line 72, ../sass/mystyle.scss */
html body .swiper-container .swiper-container-vertical > .swiper-pagination-bullets {
  right: 20px;
}
/* line 75, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
/* line 80, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main,
html body .swiper-container .swiper-slide .swiper-container-v, html body .swiper-container .swiper-slide#dis_skill, html body .swiper-container .swiper-slide#dev_skill, html body .swiper-container .swiper-slide#dev_port {
  background-image: url("../img/bg05_1.jpg");
  background-size: cover;
  background-position: top center;
}
/* line 89, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide .swiper-container-v {
  background-image: url("../img/bg01_1.jpg");
}
/* line 92, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill {
  background-image: url("../img/bg02_1.jpg");
}
/* line 95, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill {
  background-image: url("../img/bg04_1.jpg");
}
/* line 98, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main {
  background-image: url("../img/bg03_1.jpg");
}
/* line 100, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main * {
  letter-spacing: 1.5pt;
}
/* line 103, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main h1 {
  margin-top: 10%;
  letter-spacing: 10pt;
}
/* line 106, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main h1 span#first_letter {
  padding-right: 2%;
}
/* line 109, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main h1 span#second_word {
  padding-left: 1%;
  letter-spacing: 5pt;
}
/* line 114, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main h3 {
  margin-bottom: 12%;
  font-weight: normal;
}
/* line 118, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main .button {
  border-width: 1px;
  border-style: solid;
  padding: 15px 35px;
  font-size: 14.16pt;
  font-weight: bold;
  margin-top: 1.5%;
  margin-bottom: 18%;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 129, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main .container {
  width: 100%;
  left: -10px;
  right: -10px;
}
/* line 133, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main .container .right {
  padding-right: 5%;
  text-align: right;
}
/* line 137, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main .container .left {
  text-align: left;
  padding-left: 5%;
}
/* line 141, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#main .container p {
  margin: 10px 0;
}
/* line 149, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide .first_vert .row,
html body .swiper-container .swiper-slide .second_vert .row, html body .swiper-container .swiper-slide#dev_port .row {
  padding-bottom: 3%;
}
/* line 151, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide .first_vert .row.first,
html body .swiper-container .swiper-slide .second_vert .row.first, html body .swiper-container .swiper-slide#dev_port .row.first {
  margin-top: 16%;
}
/* line 155, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide .first_vert .row .min_port a,
html body .swiper-container .swiper-slide .second_vert .row .min_port a, html body .swiper-container .swiper-slide#dev_port .row .min_port a {
  display: inline-block;
}
/* line 164, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .top, html body .swiper-container .swiper-slide#dev_skill .top {
  margin-top: 22%;
  left: 1%;
  height: 15%;
}
/* line 170, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .top .row div *, html body .swiper-container .swiper-slide#dev_skill .top .row div * {
  padding: 10px 20px;
  float: left;
}
/* line 174, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .top .row div h2, html body .swiper-container .swiper-slide#dev_skill .top .row div h2 {
  font-size: 27pt;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 3.5pt;
}
/* line 180, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .top .row div h4, html body .swiper-container .swiper-slide#dev_skill .top .row div h4 {
  font-size: 12.72pt;
  letter-spacing: 1pt;
  font-weight: 600;
  line-height: 15pt;
  border-left-width: 1px;
  border-left-style: solid;
}
/* line 192, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .foot .swiper-slide, html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide {
  margin-top: 13%;
  padding-bottom: 25%;
}
/* line 195, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .foot .swiper-slide .row, html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row {
  width: 100%;
}
/* line 197, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .foot .swiper-slide .row *, html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row * {
  text-align: center;
  padding: 10px;
}
/* line 200, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .foot .swiper-slide .row * h3, html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row * h3 {
  font-weight: 600;
}
/* line 203, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .foot .swiper-slide .row * p, html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row * p {
  font-size: 10.32pt;
  opacity: 0.6;
  font-style: normal;
  line-height: 2.0;
}
/* line 213, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dis_skill .foot .row .col-md-4, html body .swiper-container .swiper-slide#dev_skill .foot .row .col-md-4 {
  padding-right: 5%;
  padding-left: 5%;
}
/* line 221, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .top {
  left: 2.5%;
}
/* line 225, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide {
  padding-bottom: 15%;
}
/* line 227, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide.second {
  margin-top: 0;
}
/* line 230, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row {
  margin-bottom: 5%;
}
/* line 233, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row div h3 {
  padding: 0;
}
/* line 236, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row div p {
  text-align: left;
  padding: 0;
  margin: -1% -3% 0 -12%;
}
/* line 240, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide#dev_skill .foot .swiper-slide .row div p.right {
  margin: -1% 0% 0 -15%;
}
/* line 251, ../sass/mystyle.scss */
html body .swiper-container .swiper-slide .swiper-container-v .swiper-slide-active,
html body .swiper-container .swiper-slide .swiper-container-v1 .swiper-slide-active {
  width: 100%;
  height: 100% !important;
}
