@media (min-width: 0px)and(max-width: 1279px){
	$fs:13pt !important;
}
@media (min-width: 1280px){
	$fs:16pt !important;
}
@media (max-width: 1280px){//навыки разраб не красиво слипался текст
#dev_skill{
  p{
    font-size: $fs*0.69 !important;
  }
}
}
@media (min-width: 992px) {//убираем малые разрешения
.size_error{
	display: none;
}	
}