@import "_vars.scss";
$main:#fff;
$active:#f51212;

body{
	*,
	:visited,
	:link{
		color:$main;
	}
	.active,
	a:active,
	a:hover,
	.swiper-pagination-bullet-active{
		color: $active;
		&::after{
			border-color: $active;
		}
	}
	.swiper-container-v {
		.swiper-pagination-bullet{
			background-color: $main;
			&-active{
				background-color: $active;
			}
		}
	}
}