@import "_vars.scss";
$main:#fff;
$active:#f51212;

body{
	*,
	:visited,
	:link{
		color:$main;
	}
	.active,
	a:active,
	a:hover,
	.swiper-pagination-bullet-active{
		color: $active;
		&::after{
			border-color: $active;
		}
	}
	#dev_skill,
	#dev_port{
    background-color: rgba(255,255,255,0.5);
  }
  #main{
  	h1{
  		&::first-letter{
  			color:$active;
  		}
  	}
  }
	.swiper-container-v {
		.swiper-pagination-bullet{
			background-color: $main;
			&-active{
				background-color: $active;
			}
		}
	}
}