@import "_vars.scss";
$main:#fff;
$active:#f51212;

body{
	*,
	:visited,
	:link{
		color:$main;
	}
	.active,
	a:active,
	a:hover,
	.swiper-pagination-bullet-active{
		color: $main;
		&::after{
			border-color: $active;
		}
	}
	#contact-form{
		background-color: rgba(8,16,38,0.7);
		ul{
			li{
				input,textarea{
					border-color: rgba(225,225,225,0.7);
				}
			}
		}
	}
	figure.effect-apollo{
		&:hover {
  	background-color: rgba(3,12,45,0.8);
  	}
  	p{
  		border-color: $active;
  	}
  }
	#dev_skill,
	#dev_port{
    background-color: rgba(255,255,255,0.5);
  }
  #dis_skill{
    .top{
    	h4{
    		border-left-color:rgba(225,225,225,0.15);
    	}
    }
  }
	.swiper-slide#main{
		h1>span#first_letter{
			color:$active;
		}
	}
	.swiper-container-v,
	.swiper-container-v1 {
		.swiper-pagination-bullet{
			background-color: $main;
			&-active{
				background-color: $active;
			}
		}
	}
}