@mixin flexbox() {		
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($justify){    
	-webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
  justify-content: $justify;
 }
 @mixin align-items ($al-items){
    -webkit-box-align: $al-items;
    -ms-flex-align: $al-items;
    -webkit-align-items: $al-items;
    align-items: $al-items;
  }