//FONTS
$fs:12pt;

//ANIMATION
$transit: 1.5s;//задержка смены цветов
$appear:1.5s;//задержка проявки

//FLEX
$justify:center;//выравнивание флекса по главной оси flex-start | flex-end | center | space-between | space-around
$al-items:center;//выравнивание флекса по 2 оси flex-start | flex-end | center | baseline | stretch