@import "_vars.scss";
@import "_mymixins.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic);
@import "../css/fonts/roboto.css";
@import "_swiper.min.scss";
@import "_color.scss";
@import "_adaptation.scss";

html{
  position: relative;
  height: 100%;
  body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: $fs;
    font-family: "roboto",sans-serif;
    min-width: 320px;
    h1{
      font-size: $fs*2.86;
      white-space: nowrap; 
    }
    h2,
    h3{
      font-size: $fs*1.42;
      white-space: nowrap; 
    }
    //Sweper
    .swiper-container{
      width: 100%;
      height: 100%;
      background-color: green;
      .swiper-pagination-h{
        top:5%;
        bottom: 90%;
        .swiper-pagination-bullet{
          width: auto;
          height: auto;
          background-color: transparent;
          border-radius: 0;
          @include transit($transit);
        }
        .swiper-pagination-bullet-active{         
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
      }
      .swiper-slide{
      @include flexbox();
      @include justify-content($justify);
      @include align-items ($al-items);
      }
      .swiper-container-v {
        background: #eee;
        opacity: 0.8;
      } 
    }      
  }
}