@import "_vars.scss";
@import "_mymixins.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic);
@import "../css/fonts/roboto.css";
@import "_swiper.min.scss";
@import "_color.scss";
@import "_adaptation.scss";

html{
  position: relative;
  height: 100%;
  body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: $fs;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    h1{
      font-size: $fs*2.86;
      white-space: nowrap; 
    }
    h2,
    h3{
      font-size: $fs*1.42;
      white-space: nowrap; 
    }
    //Sweper
    .swiper-container{
      width: 100%;
      height: 100%;
      .swiper-pagination-h{
        top:5%;
        bottom: 90%;
        .swiper-pagination-bullet{
          font-size: 1.16*$fs;
          text-transform: uppercase;
          font-weight: 100;
          width: auto;
          height: auto;
          padding:0 2%;
          background-color: transparent;
          border-radius: 0;
          @include transit($transit);
          opacity: 0.7;
          position: relative;
        }
        .swiper-pagination-bullet-active{         
          font-size: 1.33*$fs;
          opacity: 1;
          &::after{
            content: '';
            display: inherit;
            position: absolute;
            bottom:-5%;
            left:30%;
            width: 40%;
            border-width: 1px;
            border-style: solid;
          }
        }
      }
      .swiper-slide{
      @include flexbox();
      @include justify-content($justify);
      @include align-items ($al-items);
      flex-direction:column;
      &#main{
        background-image: url('../img/bg01_2.jpg');
        background-size: cover;
        background-position: top center;
        }
        .button {
          border-width: 1px;
          border-style: solid;
          padding: 15px 30px;
          font-size: 1.18*$fs; 
          font-weight: 500; 
        }
        .wrap{
          position: relative;
          float: right;
          &.right{
            left: 38vw;
            text-align:right;
          }
          &.left{
            right: 38vw;
            text-align:left;
          }
        }
      }
      .swiper-container-v{
        #first{
          background-color: gray;
        }
        .swiper-slide-active{
          width: 100%;
          height: 100%!important;
        }
      } 
    }      
  }
}