@charset "UTF-8";
/*
fffbf8 - основной
240f00 - цвет текста
FF5F00 - цвет текста заголовков
255, 201, 115 - светлый фон
255, 135, 64 - темный фон
80, 57, 40 - фон элементов управления
#503928 - copyright и кнопка
*/
body{
	background-color: #fffbf8;
}
/*основной цвет текста*/
body *{
	color: #240f00;
}
/*цвет текста заголовков*/
h1,
h2,
i{
	color: #FF5F00;
}

/*background-color*/
header{
	background-color: rgba(255, 201, 115, 0.4);
}
#about,
#detail,
#contact{
	background-color: rgba(255, 201, 115, 0.6);
}
/*#shop{
	background-color: rgba(255, 135, 64, 0.4);
}*/
#baynow,
.copyright{
	background-color: #503928;
}

/*over elements*/
.navbar{/*navbar*/
	background-color: rgba(80, 57, 40, 0.35);
}
ul.nav li a {
	color: #fffbf8;
}
ul.nav li a:active,
ul.nav li a:hover{
	background-color: transparent;
	color: #240f00;
}

.nav_toggle{/*sandwich*/
	background-color:transparent;
}
.sw-topper,
.sw-bottom,
.sw-footer{
	background: #240f00;
}
#sandwich.active .sw-topper,
#sandwich.active .sw-bottom,
#sandwich.active .sw-footer {
	background:#fffbf8;
}
header h1,
header p{
	color: #fffbf8;
}
.carousel-control span {/*carousel*/
	color:rgba(80, 57, 40, 0.8);
}
.carousel-indicators li{
	border-color:rgba(80, 57, 40, 0.8);
}
.carousel-indicators .active{
	background-color: rgba(80, 57, 40, 0.8);
}
.right_soc_bar{
    background-color: rgba(80, 57, 40, 0.35);
}
#shop a{
	background-color: #240f00;
}
#shop a p{
	color: #fffbf8;
}
#baynow a{
 	background-color: transparent;	
 	border-color: rgba(255, 135, 64, 0.99);
 }
#baynow a:hover{
 	background-color:  rgba(255, 135, 64, 0.6);
 	border-color: transparent;
 }
 #baynow a h1{
 	color: #fffbf8;
 }
#contact input{
	background-color: rgba(255, 135, 64, 0.6);
	border-color: transparent;
}
#contact input[type="submit"]{
 	background-color: transparent;	
 	border-color: #503928 !important;
 }
 #contact input[type="submit"]:hover{
 	background-color:  rgba(255, 135, 64, 0.6);
}
.copyright>*,
.copyright>*>a {
	color: #e2cfba;
}
.copyright a:hover{
	color: #fffbf8;
	text-decoration: none;
}